<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.borenabs.mapper.TagMapper" >
  <resultMap id="BaseResultMap" type="com.borenabs.entity.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_description" property="tagDescription" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.borenabs.entity.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
    <result column="tag_description" property="tagDescription" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, tag_name, tag_description
  </sql>
  <sql id="tb">tag</sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.borenabs.entity.Tag" >
    insert into tag (tag_id, tag_name, tag_description
      )
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{tagDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.borenabs.entity.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
      <if test="tagDescription != null" >
        tag_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagDescription != null" >
        #{tagDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.borenabs.entity.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="tagDescription != null" >
        tag_description = #{tagDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.borenabs.entity.Tag" >
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      tag_description = #{tagDescription,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <select id="tagList" resultMap="BaseResultMap1">
    SELECT t.tag_id,t.tag_name,t.tag_description,a.count FROM tag t LEFT JOIN
    (SELECT tag_id,COUNT(tag_id) as count FROM article_tag_ref GROUP BY tag_id) a
    ON a.tag_id = t.tag_id ORDER BY t.tag_id ASC
  </select>
  <!--获得标签总数-->
  <select id="countTag" resultType="Integer">
    SELECT COUNT(*) FROM <include refid="tb"/>
  </select>
  <select id="selectArticleTagListByArticleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
      tag.tag_id,
      tag.tag_name,
      tag.tag_description
    FROM
      article
        INNER JOIN article_tag_ref ON article.article_id = article_tag_ref.article_id
        INNER JOIN tag ON article_tag_ref.tag_id = tag.tag_id
    WHERE
      article.article_id = #{articleId}
  </select>
</mapper>